@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap");

body {
  margin: 0;
  line-height: 1.5;
  background-color: #eed9c4;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body,
input,
textarea,
button {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

* {
  box-sizing: border-box;
  margin: 0;
}

p {
  font-size: 18px !important;
}

.container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.align-items-center {
  align-items: center;
}

.align-center {
  margin-top: 30px;
  width: 100%;
  text-align: center;
}

.justify-content-between {
  justify-content: space-between;
}

@keyframes ani01 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

h1#subheading {
  font-size: 30px;
}

.section-title {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 60px;
  padding: 0 15px;
}

.section-title h1 {
  display: inline-block;
  font-size: 40px;
  color: #000000;
  font-weight: 700;
  margin: 0;
  position: relative;
}

.section-title h1:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 80px;
  height: 3px;
  background-color: #ffffff;
}

.btn-01 {
  background-color: #000000;
  color: #ffffff;
  border: 2px solid transparent;
  padding: 10px 35px;
  border-radius: 30px;
  line-height: 1.5;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
  transition: all 0.5s ease;
}

.btn-01:hover {
  background-color: #ffffff;
  color: #000000;
}

.btn-01:focus {
  outline: none;
}

/* preloader  */

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #111111;
  z-index: 1099;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.6s ease;
}

.preloader.loaded {
  visibility: hidden;
  opacity: 0;
  z-index: -99;
}

.preloader .loader {
  height: 30px;
  width: 30px;
  border: 2px solid #ff9800;
  border-right: 2px solid transparent;
  border-radius: 50%;
  animation: ani01 2s linear infinite;
}

/* Navigation  */

.navigation {
  position: absolute;
  height: 55px;
  z-index: 999;
  width: 100vw;
  font-weight: 600;
}

.navigation.sticky {
  position: fixed;
  background-color: #111111;
  animation: scroll 0.5s ease;
}

@keyframes scroll {
  0% {
    transform: translateY(-60px);
  }
  100% {
    transform: translateY(0);
  }
}

.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 55px;
  text-transform: uppercase;
  font-size: 1.8em;
  font-weight: bolder;
  letter-spacing: 0.1em;
}

.brand a,
.brand a:visited {
  color: #ffffff;
  text-decoration: none;
  transition: all 0.6s ease;
}

.brand a:hover {
  color: #ff9800;
}

.nav-container {
  max-width: 1200px;
  margin: 0 auto;
}
nav {
  float: right;
  width: 100vw;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
  z-index: 999;
}
nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 55px;
  color: #fff;
  background: #262626;
  text-decoration: none;
}
nav ul li a {
  background: transparent;
  color: #fff;
  transition: all 0.4s ease;
}
nav ul li a:hover,
nav ul li a:visited:hover {
  color: #ff9800;
}
.navbar-dropdown li a {
  background: #2581dc;
}
nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: " \025BE";
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}
.navbar-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  background: #fff;
  box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.25);
}

.nav-list {
  float: right;
}
/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  height: 55px;
  width: 70px;
}
@media only screen and (max-width: 800px) {
  .navigation {
    padding: 0;
  }
  .nav-list {
    width: 100vw;
  }
  .nav-mobile {
    display: block;
  }
  nav {
    width: 100%;
    padding: 55px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
    background: #262626;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }
  .navbar-dropdown {
    position: static;
  }
}
@media screen and (min-width: 800px) {
  .nav-list {
    display: block !important;
  }
}
#navbar-toggle {
  position: absolute;
  left: 18px;
  top: 15px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#navbar-toggle span,
#navbar-toggle span:before,
#navbar-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 3px;
  width: 30px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}
#navbar-toggle span:before {
  top: -10px;
}
#navbar-toggle span:after {
  bottom: -10px;
}
#navbar-toggle.active span {
  background-color: transparent;
}
#navbar-toggle.active span:before,
#navbar-toggle.active span:after {
  top: 0;
}
#navbar-toggle.active span:before {
  transform: rotate(45deg);
}
#navbar-toggle.active span:after {
  transform: rotate(-45deg);
}

/* home section  */
.home-section {
  min-height: 100vh;
  background-image: url("../img/home-bg.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

.home-section .shape-01 {
  position: absolute;
  height: 30px;
  width: 30px;
  border: 2px solid #ff9800;
  right: 5%;
  top: 20%;
  animation: ani01 5s linear infinite;
}

.home-section:before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.7;
  z-index: -1;
}

.home-section .row {
  min-height: 100vh;
}

.home-section .home-content {
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
  transform: translateY(-130px);
}

.home-section .home-content h4 {
  font-size: 20px;
  color: #ffffff;
  margin: 0;
}

.home-section .home-content h1 {
  font-size: 60px;
  margin: 0;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 5px;
}

.home-section .scroll-down {
  position: absolute;
  left: 50%;
  bottom: 30px;
  height: 30px;
  width: 30px;
  margin-left: -15px;
  animation: scrollDown 2s ease infinite;
}

@keyframes scrollDown {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.home-section .scroll-down img {
  width: 25px;
  display: block;
  margin: 2px auto;
}

/* about section  */
.about-section {
  padding: 80px 0 0;
}

.about-section .about-img {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  padding: 0 15px;
}

.about-section .about-img .img-box {
  position: relative;
}

.about-section .about-img .img-box .shape-02 {
  position: absolute;
  height: 30px;
  width: 30px;
  border: 2px solid #ff9800;
  left: 30px;
  top: 30px;
  animation: ani01 5s linear infinite;
}

.five-pointed-star {
  --star-color: #ff9800;
  font-size: 1.2em;
  position: absolute;
  display: block;
  right: 30px;
  top: 30px;
  width: 0px;
  height: 0px;
  border-right: 1em solid transparent;
  border-bottom: 0.7em solid var(--star-color);
  border-left: 1em solid transparent;
  transform: rotate(35deg);
  animation: ani01 5s linear infinite;
  z-index: 99;
}

.five-pointed-star:before {
  border-bottom: 0.8em solid var(--star-color);
  border-left: 0.3em solid transparent;
  border-right: 0.3em solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -0.45em;
  left: -0.65em;
  display: block;
  content: "";
  transform: rotate(-35deg);
}

.five-pointed-star:after {
  position: absolute;
  display: block;
  top: 0.03em;
  left: -1.05em;
  width: 0;
  height: 0;
  border-right: 1em solid transparent;
  border-bottom: 0.7em solid var(--star-color);
  border-left: 1em solid transparent;
  transform: rotate(-70deg);
  content: "";
}

.about-section .about-img .img-box img {
  width: 100%;
  display: block;
}

.about-section .about-content {
  flex: 0 0 66.66%;
  max-width: 66.66%;
  padding: 0 15px;
}

.about-section .section-title {
  margin-bottom: 30px;
  padding: 0;
}

.about-section .about-content p {
  font-size: 16px;
  color: #555555;
  line-height: 26px;
  margin: 0;
}

#note {
  padding-top: 25px;
  text-align: center;
  font-weight: 600;
}

.about-section .about-content .stats .stat-box {
  flex: 0 0 25%;
  max-width: 25%;
  padding: 0 15px;
  text-align: center;
  margin-top: 30px;
}

.about-section .about-content .stats .stat-box h2 {
  font-size: 40px;
  color: #000000;
  margin: 0 0 5px;
}

.about-section .about-content .stats .stat-box h5 {
  font-size: 16px;
  color: #555555;
  font-weight: 600;
  text-transform: uppercase;
}

.about-section .about-content .btn {
  margin-top: 30px;
}

/* aboutme section  */

#workshop > .container > .row {
  flex-direction: row-reverse;
}

/* Service Section  */

.service-section {
  padding: 80px 0 0;
}

.service-section .service-item {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  padding: 15px;
}

.service-section .service-item-inner {
  position: relative;
  overflow: hidden;
}

.service-section .service-item-inner:hover img {
  transform: scale(1.1);
}

.service-section .service-item-inner img {
  width: 100%;
  display: block;
  transition: all 0.5s ease;
}

.service-section .service-item .overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}

.service-section .service-item-inner:hover .overlay {
  background-color: transparent;
}

.service-section .service-item-inner .overlay h4 {
  color: #ffffff;
  font-size: 20px;
  margin: 0;
  text-align: center;
  transition: all 0.5s ease;
  text-transform: capitalize;
}

.service-section .service-item-inner .overlay:hover h4 {
  transform: translateX(30px);
  opacity: 0;
}

/* Gallery */

#gallery {
  line-height: 0;
  -webkit-column-count: 5; /* split it into 5 columns */
  -webkit-column-gap: 5px; /* give it a 5px gap between columns */
  -moz-column-count: 5;
  -moz-column-gap: 5px;
  column-count: 5;
  column-gap: 5px;
  filter: grayscale(100%);
}

#gallery img {
  width: 100% !important;
  height: auto !important;
  margin-bottom: 5px; /* to match column gap */
}

@media (max-width: 1200px) {
  #gallery {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
  }
}

@media (max-width: 1000px) {
  #gallery {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}

@media (max-width: 800px) {
  #gallery {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}

@media (max-width: 400px) {
  #gallery {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}

#gallery img:hover {
  filter: none;
}

/* Work Section  */

.work-section .work-item {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  padding: 15px;
}

.work-section .work-item-inner img {
  width: 100%;
  display: block;
  transform: scale(1.1);
  transition: all 0.5s ease;
}

.work-section .work-item-inner:hover img {
  filter: grayscale(100%);
  transform: scale(1);
}

.work-section .work-item-inner {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.work-section .work-item-inner .overlay {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  padding: 15px;
  display: flex;
  align-items: flex-end;
  transition: all 0.5s ease;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
}

.work-section .work-item-inner:hover .overlay {
  opacity: 1;
}

.work-section .work-item-inner .overlay h4 {
  color: #ffffff;
  font-size: 20px;
  margin: 0;
  transform: translateX(30px);
  transition: all 0.5s ease;
}

.work-section .work-item-inner .overlay a {
  text-decoration: none;
  color: white;
}

.work-section .work-item-inner:hover .overlay h4 {
  transform: tranlateX(0);
}

/* video carousel  */

/* light box  */

.lightbox {
  position: fixed;
  z-index: 1099;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: zoom-out;
  display: none;
}

.lightbox.open {
  display: flex;
}

.lightbox .lightbox-img {
  display: flex;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 40px 0;
}

.lightbox .img-box {
  position: relative;
  cursor: auto;
}

.lightbox .lightbox-close {
  height: 30px;
  width: 30px;
  display: block;
  position: absolute;
  right: 0;
  top: 10px;
  font-size: 30px;
  color: #ffffff;
  text-align: center;
  line-height: 26px;
  cursor: zoom-out;
}

.lightbox .lightbox-caption {
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  left: 0;
  bottom: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.lightbox .lightbox-caption .lightbox-category {
  padding-right: 50px;
}

.lightbox .lightbox-controls .prev,
.lightbox .lightbox-controls .next {
  position: absolute;
  height: calc(100% - 80px);
  top: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.lightbox .lightbox-controls .prev {
  left: 0;
  justify-content: flex-start;
  width: 50%;
  padding-left: 5px;
}
.lightbox .lightbox-controls .next {
  right: 0;
  width: 50%;
  justify-content: flex-end;
  padding-right: 5px;
}

.lightbox .lightbox-controls .prev img,
.lightbox .lightbox-controls .next img {
  width: 30px;
  height: 30px;
  padding: 5px;
  border-radius: 2px;
  transition: all 0.5s;
}

.lightbox .lightbox-controls .prev:hover img,
.lightbox .lightbox-controls .next:hover img {
  background-color: rgba(0, 0, 0, 0.5);
}

/* contact section */

.contact-section {
  padding: 80px 0 80px;
}

.contact-section .contact-img {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 15px;
}
.contact-section .contact-img .img-box {
  padding: 200px 0;
  background-image: url("../img/contact-bg.jpg");
  background-size: cover;
  background-position: center;
}

.contact-section .section-title {
  text-align: center;
}

.contact-section .section-title h1 {
  color: #000000;
}

.contact-section .section-title h1:before {
  background-color: #ffffff;
  left: 50%;
  margin-left: -40px;
}

.contact-section .contact-form {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 65px;
}

.contact-section .contact-form .form {
  padding: 55px 40px;
  margin-top: -150px;
  background-color: #f3f2f1;
}

.contact-section .contact-form .form label {
  color: #000000;
  font-weight: 500;
  display: block;
  margin: 0 0 5px;
}
.contact-section .contact-form .form .input-group {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 15px;
  margin-bottom: 30px;
}

.contact-section .contact-form .form .input-group.left,
.contact-section .contact-form .form .input-group.right {
  flex: 0 0 50%;
  max-width: 50%;
}

.contact-section .contact-form .form .input-control {
  width: 100%;
  height: 45px;
  padding: 6px 0;
  color: #000000;
  font-size: 16px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #cccccc;
}

.contact-section .contact-form .form .input-control:focus {
  outline: none;
}

.contact-section .contact-form .form textarea.input-control {
  height: 140px;
  resize: none;
  padding-top: 12px;
}

.contact-section .contact-form .form .form-btn {
  text-align: center;
}

.contact-section .contact-info {
  flex: 0 0 100%;
  max-width: 100%;
}

.contact-section .contact-info .info-item {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  text-align: center;
  padding-top: 0 15px;
  margin-bottom: 40px;
}

.contact-section .contact-info .info-item h5 {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

.contact-section .contact-info .info-item p {
  font-size: 16px;
  margin: 0;
  color: #555555;
}

.contact-section .social-links {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 15px;
  text-align: center;
}
.contact-section .social-links a {
  text-decoration: none;
  display: inline-block;
  margin: 0 5px;
}
.contact-section .social-links a img {
  width: 28px;
  display: block;
  transition: all 0.5s ease;
}

.contact-section .social-links a:hover img {
  opacity: 0.5;
}

#my-form-status {
  text-align: center;
  padding-top: 20px;
  transition: all 0.6s ease-in-out;
  color: rgb(224, 66, 66);
}

/* copyright  */
.copyright {
  border-top: 1px solid #c5c5c5;
  padding: 25px 15px;
  text-align: center;
  color: #555555;
  font-size: 16px;
}

/* responsive  */

@media (min-width: 768px) {
  .header .nav {
    display: block !important;
  }
}

@media (max-width: 767px) {
  #submenu.show {
    position: relative;
    width: 100%;
    display: block;
    padding-left: 35px;
  }
  .header {
    padding: 7px 0;
    position: fixed;
  }
  .header .nav-toggle {
    display: flex;
    margin-right: 15px;
  }
  .header .nav {
    flex: 0 0 100%;
    max-width: 100%;
    background-color: #ffffff;
    padding: 0;
    display: none;
  }

  .header.fixed .nav {
    border-top: 1px solid #cccccc;
  }

  .header .nav ul li {
    display: block;
    margin-right: 25px;
  }
  .header.fixed .nav ul li a,
  .header .nav ul li a {
    color: #000000;
    padding: 15px 0;
  }
  .home-section .home-content h1 {
    font-size: 40px;
  }
  .about-section .about-img {
    margin-bottom: 30px;
  }
  .about-section .about-content,
  .about-section .about-img {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .work-section .work-item,
  .service-section .service-item {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 575px) {
  .home-section .home-content h1 {
    font-size: 25px;
    letter-spacing: 5px;
  }
  .about-section .about-content .stats .stat-box {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .contact-section .contact-info .info-item,
  .contact-section .contact-form .form .input-group.left,
  .contact-section .contact-form .form .input-group.right,
  .work-section .work-item,
  .service-section .service-item {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .contact-section .contact-form {
    padding: 0px 35px;
  }
  .contact-section .contact-form .form {
    padding: 55px 5px;
  }
}
.owl-carousel .video iframe {
  loading: lazy;
  width: 350px;
  height: 300px;
}
.owl-carousel2 .video iframe {
  loading: lazy;
  width: 280px;
  height: 158px;
}
